body {
  height: 200px;
  background-color: white;
}
span {
  font-family: arial;
  color: #2d3436;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #00b894;
}
.nav li {
  position: relative;
  left: 100px;
  float: left;
  display: block;
}

.nav li a {
  display: block;
  color: rgb(128, 128, 128);
  text-align: center;
  padding: 24px;
  text-decoration: none;
}

.nav a:active {
  background-color: black;
  color: white;
}
li a:hover:not(.active) {
  background-color: #111;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6c5ce7;
  opacity: 0.5;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 30px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.rectangle {
  height: 70px;
  width: 100%;
  background-color: #00b894;
}

/* this is the table code */
.lists {
  text-align: center;
}
.button {
  background-color: #00b894;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  height: 30px;
  width: 90px;
}
.w3-container {
  text-align: center;
  border: 4px solid black;
  padding: 1px;
}
.w3-container .Alta {
  background-color: #b2bec3;
  position: relative;
  border-radius: 10px;
  height: 650px;
  top: 20px;
  float: left;
  display: inline-block;
  margin-left: 200px;
  padding: 20px;
  border: 4px solid black;
}

.guy-skiing {
  border-radius: 30px;
  border: 4px solid white;
}

.Alta-title {
  background-color: #00b894;
}

.w3-container .Park-City {
  background-color: #b2bec3;
  position: relative;
  border-radius: 10px;
  height: 650px;
  top: 20px;
  float: left;
  display: inline-block;
  margin-left: 10px;
  padding: 20px;
  border: 4px solid black;
}

.red-man {
  border-radius: 30px;
  border: 4px solid white;
}

.Parkcity-title {
  background-color: #00b894;
}

.w3-container .Snowbird {
  background-color: #b2bec3;
  position: relative;
  border-radius: 10px;
  height: 650px;
  top: 20px;
  float: left;
  display: inline-block;
  margin-left: 10px;
  padding: 20px;
  border: 4px solid black;
}

.avalanche {
  border-radius: 30px;
  border: 4px solid white;
}

.Snow-title {
  background-color: #00b894;
}

.w3-container ul {
  list-style-type: none;
  font-family: arial;
  text-align: left;
}

/* end of table code */

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background-color: #00b894;
  font-family: arial;
  text-align: center;
}